<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./images/favicon.jpg">
    <title>Meredith Bowden</title>
    <meta name="author" content="meredith bowden passmore">
    <meta name="description" content="quack">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

    
    <div id="home" class="hero-container">
        <video autoplay muted loop class="hero-video">
            <source src="/images/video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="hero-overlay">
            <h1 class="hero-title">Pixel Palette</h1>
            <p class="hero-subtitle">an NFT project by Meredith Bowden</p>
            <div class="button-container">
                <a href="/about" class="btn btn-custom">About</a>
                <a href="/featured" class="btn btn-custom">Featured</a>
                <a href="/projects" class="btn btn-custom">Projects</a>
            </div>
        </div>
    </div>
    <div class="about-container">
        <video autoplay muted loop class="about-video">
            <source src="/path/to/your/about-video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="about-overlay">
            <h2 class="about-title">About</h2>
            <p class="about-subtitle">Meredith is a creative technologist and full-time copywriter from Dallas.</p>
        </div>
    </div>

    <div class="featured-container">
        <video autoplay muted loop class="featured-video">
            <source src="/path/to/your/featured-video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="featured-overlay">
            <h2 class="featured-title">Featured</h2>
            <p class="featured-subtitle">Some information about the featured section.</p>
        </div>
    </div>

    <div class="projects-container">
        <video autoplay muted loop class="projects-video">
            <source src="/path/to/your/projects-video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="projects-overlay">
            <h2 class="projects-title">Projects</h2>
            <p class="projects-subtitle">Details about the projects.</p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-2XbhR7M6xxe0hiDeQtaCh38X8HVVv9UXA/sVzQ54WocPHxlPE2Ikg2WpgZngC4sB" crossorigin="anonymous"></script>
    <script src="./js/script.js"></script>


</body>

</html>










