<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./images/favicon.jpg">
    <title>project</title>
    <meta name="author" content="meredith bowden passmore">
    <meta name="description" content="quacket">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div>project</div>
    <script type="module" src="./js/index.js"></script>

    <section id="projects" class="project-container">
        <video autoplay muted loop class="contact-video">
            <source src="/images/contact-video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="contact-overlay">
            <h2 class="contact-title">Projects</h2>
            <p class="contact-subtitle">Lorem ipsum.</p>
        </div>
    </section>
</body>

</html>