<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./images/favicon.jpg">
    <title>project</title>
    <meta name="author" content="meredith bowden passmore">
    <meta name="description" content="quacket">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div>project</div>
    <script type="module" src="./js/index.js"></script>
</body>

</html>