<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./images/favicon.jpg">
    <meta name="author" content="meredith bowden passmore">
    <meta name="description" content="multiple quacks">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    
    
    
    <section id="projects" class="projects-container">
        <video autoplay muted loop class="projects-video">
            <source src="/images/pricing-video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="projects-overlay">
            <h2 class="projects-title">Projects</h2>
            <p class="projects-subtitle">Lorem ipsum.</p>
            <% projectArray.forEach((item, index) => { %>
            <div>
                <%- include('projectCard', {ident: item.id, image: item.img_url, name: item.project_name}); %>
            </div>
            <% }); %>
        </div>
    </section>

    <footer>
        <!-- footer content -->
    </footer>

    <script type="module" src="./js/index.js"></script>
    <!-- scripts -->
</body>




</html>