
/* Navbar styles */
.navbar {
    background-color: rgba(255, 255, 255, 0); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    font-family: "Major Mono Display", monospace;
}

.navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.258); 
}

.offcanvas-header {
    background-color: #343a40;
    color: white;
}

.offcanvas-body {
    background-color: #f8f9faa0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-link {
    color: #000000;
    margin: 0 1rem;
    font-family: "Major Mono Display", monospace;
}

.nav-link:hover,
.nav-link.active {
    color: #d3a518 ;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* hero section styles */
.hero-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: "Major Mono Display", monospace;
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2); 
    color: white;
    text-align: center;
    padding: 0 2rem;
}

.hero-title {
    font-size: 10rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.hero-subtitle {
    font-size: 1.5rem;
}

.major-mono-display-regular {
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
  }  

/* about section styles */
.about-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: "Major Mono Display", monospace;
}

.about-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.about-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2); 
    color: white;
    text-align: center;
    padding: 0 2rem;
}

.about-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: "Major Mono Display", monospace;
}

.about-subtitle {
    font-size: 1.25rem;
    font-family: "Major Mono Display", monospace;
}


.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn-custom {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-custom:hover {
    background-color: white;
    color: #ffd000;
}

/* pricing section styles */
.pricing-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: "Major Mono Display", monospace;
}

.pricing-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pricing-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2); 
    color: white;
    text-align: center;
    padding: 0 2rem;
}

.pricing-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.pricing-subtitle {
    font-size: 1.25rem;
}

/* contact section styles */


/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}


  
